In [14]:
import talib
import pandas as pd
from pathlib import Path
import hvplot.pandas
from sklearn import preprocessing
import datetime

In [11]:
#Reading the .csv files

fb_csv = Path("../Resources/fb_data.csv")
fb_df = pd.read_csv(fb_csv)
fb_df['Date'] = pd.to_datetime(fb_df.Date).dt.date

aapl_csv = Path("../Resources/aapl_data.csv")
aapl_df = pd.read_csv(aapl_csv)
aapl_df['Date'] = pd.to_datetime(aapl_df.Date).dt.date

amzn_csv = Path("../Resources/amzn_data.csv")
amzn_df = pd.read_csv(amzn_csv)
amzn_df['Date'] = pd.to_datetime(amzn_df.Date).dt.date

nflx_csv = Path("../Resources/nflx_data.csv")
nflx_df = pd.read_csv(nflx_csv)
nflx_df['Date'] = pd.to_datetime(nflx_df.Date).dt.date

googl_csv = Path("../Resources/googl_data.csv")
googl_df = pd.read_csv(googl_csv)
googl_df['Date'] = pd.to_datetime(googl_df.Date).dt.date

fb_df.set_index("Date", inplace = True)
aapl_df.set_index("Date", inplace = True)
amzn_df.set_index("Date", inplace = True)
nflx_df.set_index("Date", inplace = True)
googl_df.set_index("Date", inplace = True)

In [15]:
nflx_df.head()

              Open      High     Low   Close    Volume  Volatility  sentiment
Date
2019-01-02  259.28  269.7499  256.58  267.67  10715228    0.114250  -0.100244
2019-01-03  270.20  275.7900  264.43  271.91  13801524    0.029993  -0.040494
2019-01-04  281.88  297.8000  278.54  297.47  18127036    0.359141   0.070711
2019-01-07  302.10  316.8000  301.65  316.63  17137501    0.316450   0.038500
2019-01-08  319.98  320.5100  308.01  320.39  14085038    0.007339   0.015928

In [13]:
fb_df["RSI"] = talib.RSI(fb_df.Close.values, timeperiod = 14)
fb_df.head(20)

,Open,High,Low,Close,Volume,Volatility,sentiment,RSI
Date,,,,,,,,
2019-01-02,128.99,137.5100,128.5600,135.4100,25465924,0.286522,-0.025997,NaN
2019-01-03,134.69,137.1700,131.1200,131.8902,18011900,0.088181,-0.057317,NaN
2019-01-04,134.01,138.0000,133.7500,137.9400,23927539,0.164677,0.083206,NaN
2019-01-07,137.45,138.8700,135.9100,138.2300,16261533,0.021965,-0.016295,NaN
2019-01-08,139.89,143.1400,139.5400,142.5843,22239823,0.104831,0.039262,NaN
2019-01-09,142.95,144.7000,141.2700,144.2500,18404347,0.041686,0.054135,NaN
2019-01-10,143.08,144.5600,140.8400,144.1500,13885316,0.025777,0.039508,NaN
2019-01-11,143.15,145.3600,142.5700,143.7205,10819759,0.010542,0.039242,NaN
2019-01-14,142.08,146.5700,141.2700,145.6300,17231093,0.107023,0.094883,NaN
2019-01-15,146.01,150.6800,145.9900,148.8200,21340466,0.104912,0.047534,NaN
2019-01-16,149.00,149.6499,146.9975,147.4300,15596801,0.042671,0.087884,NaN
2019-01-17,146.95,149.0000,146.5000,148.0684,13965026,0.027113,0.082298,NaN
2019-01-18,149.75,152.4300,148.5500,149.9900,28961698,0.011907,0.007643,NaN
2019-01-22,149.20,151.5300,146.3700,147.2450,18121895,0.061865,0.036992,NaN
2019-01-23,148.28,148.8000,143.0550,144.0700,18612594,0.137177,-0.004345,63.799213
2019-01-24,144.64,146.4400,142.5200,145.7400,19111339,0.036593,-0.016481,65.761585
2019-01-25,147.48,149.8300,146.5400,149.0944,17851615,0.050271,0.063057,69.354989
2019-01-28,148.05,148.9600,146.2100,147.3700,12571121,0.014710,-0.013302,65.546525
2019-01-29,148.09,148.1000,143.4300,144.1150,16035997,0.111537,0.052186,58.964486
2019-01-30,146.22,150.9500,145.6953,150.3000,27203498,0.194421,0.117952,65.959386

In [19]:
aapl_df["RSI"] = talib.RSI(aapl_df.Close.values, timeperiod = 14)
aapl_df.head(20)

,Open,High,Low,Close,Volume,Volatility,sentiment,RSI
Date,,,,,,,,
2019-01-02,154.89,158.8500,154.2300,157.5225,27803621,0.214265,-0.048624,NaN
2019-01-03,143.98,145.7200,142.0000,142.2900,82418448,0.407750,-0.037484,NaN
2019-01-04,144.53,148.5499,143.8000,148.1200,51267225,0.538786,0.005249,NaN
2019-01-07,148.70,148.8300,145.9000,147.9100,49982480,0.115592,0.012711,NaN
2019-01-08,149.56,151.8200,148.5200,150.6300,36592406,0.114619,0.019823,NaN
2019-01-09,151.29,154.5300,149.6300,153.3700,40827842,0.248601,-0.000681,NaN
2019-01-10,152.50,153.9700,150.8600,153.5500,32553301,0.100061,-0.012277,NaN
2019-01-11,152.88,153.7000,151.5100,152.0534,22850904,0.055294,0.043788,NaN
2019-01-14,150.85,151.2700,149.2200,149.7600,26038136,0.083084,-0.020771,NaN
2019-01-15,150.27,153.3900,150.0500,152.9500,25862287,0.202901,0.032690,NaN
2019-01-16,153.08,155.8800,153.0000,154.9100,27032885,0.144819,0.068899,NaN
2019-01-17,154.20,157.6600,153.2600,155.5300,26717099,0.104022,0.019602,NaN
2019-01-18,157.50,157.8800,155.9806,156.5700,30450605,0.082901,0.064541,NaN
2019-01-22,156.41,156.7300,152.6200,152.9300,24086204,0.245375,0.014661,NaN
2019-01-23,154.15,155.1400,151.7000,153.6799,20246607,0.027863,0.019970,45.414821
2019-01-24,154.11,154.4800,151.7400,152.6300,20669415,0.089551,0.023621,44.221581
2019-01-25,155.48,158.1300,154.3200,157.5000,29575048,0.174888,0.071081,50.693067
2019-01-28,155.79,156.2800,153.6600,156.0878,22270959,0.019415,0.035008,48.920587
2019-01-29,156.25,158.1300,154.1100,154.5000,30723484,0.157395,0.020100,46.933574
2019-01-30,163.25,166.1500,160.2300,165.4900,49026033,0.321482,0.012408,59.266092

In [20]:
amzn_df["RSI"] = talib.RSI(amzn_df.Close.values, timeperiod = 14)
amzn_df.head(20)

,Open,High,Low,Close,Volume,Volatility,sentiment,RSI
Date,,,,,,,,
2019-01-02,1465.20,1553.3600,1460.9300,1536.7300,7132821,0.902244,0.005004,NaN
2019-01-03,1520.01,1538.0000,1498.1062,1502.0700,6340704,0.200930,-0.030889,NaN
2019-01-04,1530.00,1594.0000,1518.3100,1574.5400,8285596,0.652522,0.079218,NaN
2019-01-07,1602.31,1634.5600,1589.1850,1631.1200,7252880,0.369340,0.086756,NaN
2019-01-08,1664.69,1676.6100,1616.6100,1655.8350,8184304,0.127908,0.051332,NaN
2019-01-09,1652.98,1667.7990,1641.3953,1657.5900,5718583,0.046343,0.002654,NaN
2019-01-10,1643.07,1663.2500,1621.6150,1655.5000,6024209,0.132169,-0.001482,NaN
2019-01-11,1640.55,1660.2940,1636.2200,1639.6600,4171157,0.006276,0.015937,NaN
2019-01-14,1615.00,1648.2000,1595.1500,1619.8767,5255053,0.045042,-0.012163,NaN
2019-01-15,1632.00,1672.9700,1626.0100,1672.7500,5504935,0.396530,0.072012,NaN
2019-01-16,1684.22,1705.0000,1675.8787,1681.9703,5690955,0.022356,0.099242,NaN
2019-01-17,1681.46,1700.1700,1677.5000,1691.3700,3801991,0.066359,0.066053,NaN
2019-01-18,1712.00,1716.2000,1691.5400,1693.2421,5590622,0.185215,0.057574,NaN
2019-01-22,1681.00,1681.8668,1610.2000,1628.3980,5768384,0.536458,-0.000490,NaN
2019-01-23,1655.99,1657.4300,1612.0000,1636.5500,4758701,0.163352,0.027901,63.335834
2019-01-24,1641.07,1657.2572,1631.7847,1654.9700,3419975,0.083800,0.062320,65.181355
2019-01-25,1670.00,1683.4800,1661.6122,1668.6000,4248850,0.010231,0.092761,66.524119
2019-01-28,1644.62,1645.0000,1614.0900,1636.1850,4294355,0.063785,0.029146,60.544198
2019-01-29,1631.27,1632.3800,1590.7200,1592.7300,4087240,0.278357,0.040434,53.589555
2019-01-30,1622.09,1676.9500,1619.6800,1670.2312,4779035,0.406688,0.123554,61.978145

In [21]:
nflx_df["RSI"] = talib.RSI(nflx_df.Close.values, timeperiod = 14)
nflx_df.head(20)

,Open,High,Low,Close,Volume,Volatility,sentiment,RSI
Date,,,,,,,,
2019-01-02,259.28,269.7499,256.580,267.6700,10715228,0.114250,-0.100244,NaN
2019-01-03,270.20,275.7900,264.430,271.9100,13801524,0.029993,-0.040494,NaN
2019-01-04,281.88,297.8000,278.540,297.4700,18127036,0.359141,0.070711,NaN
2019-01-07,302.10,316.8000,301.650,316.6300,17137501,0.316450,0.038500,NaN
2019-01-08,319.98,320.5100,308.010,320.3900,14085038,0.007339,0.015928,NaN
2019-01-09,317.71,323.3508,313.500,320.0000,12574007,0.036593,-0.034972,NaN
2019-01-10,314.57,325.3700,312.500,324.7400,12476511,0.161253,0.024419,NaN
2019-01-11,330.84,341.0900,328.520,337.9254,18241211,0.164252,-0.018378,NaN
2019-01-14,334.24,335.4800,329.130,332.6700,9580536,0.019115,0.061730,NaN
2019-01-15,349.60,357.2200,347.000,354.3200,19496381,0.116947,0.039133,NaN
2019-01-16,354.00,358.8500,348.110,350.7639,14108264,0.058021,0.001019,NaN
2019-01-17,349.50,355.7900,346.410,353.8200,13413692,0.073642,-0.002226,NaN
2019-01-18,351.97,353.0000,336.730,338.9200,24643106,0.408694,0.012312,NaN
2019-01-22,334.89,336.8800,321.030,324.5401,16718058,0.219895,-0.070552,NaN
2019-01-23,328.25,331.7500,318.600,321.5900,12481519,0.105641,-0.088997,69.710052
2019-01-24,320.60,331.8000,319.000,326.8881,10475217,0.083710,-0.015056,70.922946
2019-01-25,328.72,340.0000,328.510,337.9400,10469177,0.122669,0.003254,73.322706
2019-01-28,334.70,336.3000,328.880,335.5300,7732010,0.008156,0.007932,71.928638
2019-01-29,335.87,338.2200,328.151,329.2000,7075520,0.059976,-0.068733,68.257768
2019-01-30,332.75,341.7800,330.800,340.8901,7890146,0.081622,-0.006020,71.182724

In [22]:
googl_df["RSI"] = talib.RSI(googl_df.Close.values, timeperiod = 14)
googl_df.head(20)

,Open,High,Low,Close,Volume,Volatility,sentiment,RSI
Date,,,,,,,,
2019-01-02,1027.20,1060.790,1025.2750,1053.2400,1346501,0.279226,0.001863,NaN
2019-01-03,1050.67,1066.260,1022.3700,1026.5050,1546910,0.297727,0.023873,NaN
2019-01-04,1041.63,1080.000,1036.8600,1076.5500,1792417,0.498923,0.059965,NaN
2019-01-07,1080.97,1082.700,1062.6400,1076.0100,1872050,0.073502,0.099050,NaN
2019-01-08,1084.77,1093.350,1068.3486,1085.5100,1402631,0.007682,0.186789,NaN
2019-01-09,1087.99,1091.640,1074.3700,1083.2200,1154151,0.043334,0.119703,NaN
2019-01-10,1074.94,1079.085,1064.6800,1078.4500,1092023,0.029988,-0.052086,NaN
2019-01-11,1069.90,1073.370,1056.4300,1062.9300,1272704,0.070193,0.061396,NaN
2019-01-14,1053.34,1058.450,1048.5500,1052.8450,1137744,0.003893,-0.012322,NaN
2019-01-15,1058.01,1088.270,1054.4400,1086.0600,1536965,0.343463,0.077388,NaN
2019-01-16,1090.00,1102.360,1088.1000,1088.2100,1639887,0.022825,0.067879,NaN
2019-01-17,1087.99,1100.700,1083.2550,1098.1500,1010311,0.081318,0.052691,NaN
2019-01-18,1108.59,1118.000,1099.2834,1105.4000,1894558,0.047631,0.143015,NaN
2019-01-22,1097.50,1098.970,1070.8900,1074.5400,1299223,0.237465,-0.021247,NaN
2019-01-23,1086.86,1092.950,1067.5700,1082.8150,1063226,0.033721,0.111746,57.002486
2019-01-24,1082.51,1088.000,1070.0200,1084.2850,1099283,0.014970,0.078177,57.322419
2019-01-25,1094.23,1103.210,1091.8011,1099.3700,882516,0.035600,0.096128,60.565136
2019-01-28,1090.07,1093.365,1074.6100,1080.0529,1060160,0.084151,-0.035082,54.820847
2019-01-29,1081.04,1084.730,1066.0200,1070.0100,846453,0.073909,-0.057238,52.056514
2019-01-30,1078.57,1099.520,1076.6400,1098.3200,1086527,0.170656,0.087762,58.421265

In [23]:
#Saving data to .csv files
fb_df.to_csv("../Resources/fb_data.csv", encoding='utf-8', index = False)
amzn_df.to_csv("../Resources/amzn_data.csv", encoding='utf-8', index = False)
aapl_df.to_csv("../Resources/aapl_data.csv", encoding='utf-8', index = False)
nflx_df.to_csv("../Resources/nflx_data.csv", encoding='utf-8', index = False)
googl_df.to_csv("../Resources/googl_data.csv", encoding='utf-8', index = False)